{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <h3 class="col-sm-4 bg-success mr-2 text-danger p-2 text-center">Home page</h3>
    <h3 class="col bg-info ml-2 text-light p-2 text-center">Main page</h3>
  </div>
  <div class="row my-2">
    <h3 class="col-sm-4 bg-dark  text-danger p-2 text-center mr-2">COL 1</h3>
    <h3 class="col bg-danger  text-light p-2 text-center mx-1">COL 2</h3>
    <h3 class="col bg-warning text-white p-2 ml-2">COL 3</h3>
  </div>
  <div class="row">
    <h3 class="col bg-info ">ONE</h3>
      <h3 class="col bg-warning mr-4">THREE</h3>
    <h3 class="col bg-danger ml-2">TWO</h3>
  </div>
  <div class="row text-center">
    <h3 class="col-sm-4 bg-warning">Hello</h3>
    <div class="col ml-4 text-light">
      <h3 class="row bg-dark">Hi</h3>
    <h3 class="row bg-danger ">Bye</h3>
    <h3 class="row bg-success">How</h3>
    </div>
  </div>
</div>
{% endblock %}